{% extends 'base.html.twig' %}

{% block body %}

    {{ render(controller(
    'AppBundle:Navbar:index'
    )) }}

    <script>
        $( document ).ready(function() {
            $('.carousel').carousel({
                interval: 3000
            })
        });
    </script>


    <div class="container-fluid">
        <div class="col-md-12" style="font-size:18px; padding: 15px 0px 15px 0; margin-top:20px;">
            {% for cat in rootcat %}
                <div class="col-lg-2"  >
                    <div class="col-lg-10 text-center" >
                    <!-- <img class="img-responsive" style="max-height:100px;" src="{{ asset('bundles/app/img/chaussures-femme.jpg') }}" alt=""/>-->
                        <strong>
                          <a  style="font-family:Arial; color: #2b2e43;"   href="{{ path('categorie', {'slug': cat.categoryslug}) }}" >{{ cat.name_categorie }}</a>
                        </strong>
                    </div>
                </div>
             {% endfor %}
            </div>
        </div>
            <div class="col-md-12">
            <div class="row">
                <div id="bloc1"  class="col-md-4 bloc">
                    <figure>
                        <img src="{{ asset('bundles/app/img/equilibre.jpg') }}" class="img-responsive" alt="Responsive image">
                        <figcaption>
                            <h2>Le plus dur c'est pas d'acheter des chaussures ...
                                C'est de choisir</h2>
                        </figcaption>
                    </figure>
                </div>


                <div id="bloc3"  class="col-md-8 bloc"   >
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->

                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active"> <img src="http://lorempixel.com/1200/400/sports" style="width:100%" alt="First slide">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>Slide 1</h1>
                                        <p>Aenean a rutrum nulla. Vestibulum a arcu at nisi tristique pretium.</p>
                                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="item"> <img src="http://lorempixel.com/1200/400/people" style="width:100%" data-src="" alt="Second    slide">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>Slide 2</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae egestas purus. </p>
                                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="item"> <img src="http://lorempixel.com/1200/400/abstract" style="width:100%" data-src="" alt="Third slide">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>Slide 3</h1>
                                        <p>Donec sit amet mi imperdiet mauris viverra accumsan ut at libero.</p>
                                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
                </div>
            </div>

            <div class="row">

                <div id="bloc5" class="col-md-4 bloc">
                    <figure>
                        <img src="{{ asset('bundles/app/img/chaussures-homme.jpg') }}" class="img-responsive" alt="Responsive image">
                        <figcaption>
                            <h2>Chaussures hommes</h2>
                        </figcaption>
                    </figure>
                </div>

                <div id="bloc6"  class="col-md-4 center-block bloc">
                            <!-- DEBUT du code HTML zanox-affiliate -->
                            <!-- (Le code HTML zanox-affiliate ne peut pas être modifié pour préserver une fonctionnalité parfaite !)-->
                            <a href="http://ad.zanox.com/ppc/?37882993C1777981772T">
                                <img src="http://ad.zanox.com/ppv/?37882993C1777981772"
                                     align="bottom" border="0" hspace="1"
                                     alt="Banniere_mobile_Android_800x480"></a>
                            <!-- FIN du code HTML zanox-affiliate -->
                </div>

                <div id="bloc7" class="col-md-4 bloc">
                    <figure>
                        <img src="{{ asset('bundles/app/img/chaussures-femme.jpg') }}" class="img-responsive" alt="Responsive image">
                        <figcaption>
                            <h2>Chaussures femmes</h2>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque nisi ac ligula feugiat suscipit. In viverra ex sapien, vel scelerisque arcu sodales ac. Morbi ullamcorper vulputate nisi, ut finibus nulla. Vestibulum quis eros magna. Donec non orci a nisl bibendum tincidunt. Donec eget augue nunc. Pellentesque eu purus vitae justo accumsan eleifend. Aliquam viverra maximus varius. Donec ultricies odio mi, in cursus urna ullamcorper vel. Ut et elementum eros. In pulvinar nunc sit amet eros venenatis ornare. Mauris non arcu lacinia, dapibus tortor sit amet, viverra tortor. Nullam vestibulum libero tristique ligula ornare fringilla. Curabitur in quam quis lectus blandit finibus eu viverra purus. Vestibulum accumsan rutrum risus vitae egestas. Duis faucibus ullamcorper ligula non dignissim.

                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ullamcorper nulla a urna posuere rhoncus. Fusce aliquet, mauris sit amet malesuada bibendum, lacus turpis pulvinar risus, ut auctor leo risus eu mauris. Sed egestas tellus nec ipsum aliquet posuere. Mauris id sapien a ante maximus tincidunt eu ac velit. Praesent libero ipsum, ullamcorper id elementum sit amet, porttitor eget tortor. Vivamus auctor neque quam, nec laoreet mauris sollicitudin ac. Etiam sit amet augue mi. Phasellus mattis mauris finibus vehicula cursus. Integer non felis lectus.

                    Donec posuere, eros et mattis congue, nulla dolor condimentum metus, dignissim venenatis eros risus non nulla. Suspendisse fermentum vel dui vel pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vel mattis odio. Mauris et risus ut arcu posuere congue. Aliquam vel efficitur ligula. Nunc porta placerat diam, nec malesuada orci tincidunt nec. Sed accumsan orci eget volutpat lacinia. Mauris sit amet elementum odio, eu vestibulum est. Nunc vulputate tristique placerat. Etiam faucibus iaculis tellus, eu iaculis magna mollis sed. Ut vitae auctor ligula, hendrerit feugiat nunc. Ut maximus ultricies ex ac viverra.
                </div>
                <div class="col-md-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque nisi ac ligula feugiat suscipit. In viverra ex sapien, vel scelerisque arcu sodales ac. Morbi ullamcorper vulputate nisi, ut finibus nulla. Vestibulum quis eros magna. Donec non orci a nisl bibendum tincidunt. Donec eget augue nunc. Pellentesque eu purus vitae justo accumsan eleifend. Aliquam viverra maximus varius. Donec ultricies odio mi, in cursus urna ullamcorper vel. Ut et elementum eros. In pulvinar nunc sit amet eros venenatis ornare. Mauris non arcu lacinia, dapibus tortor sit amet, viverra tortor. Nullam vestibulum libero tristique ligula ornare fringilla. Curabitur in quam quis lectus blandit finibus eu viverra purus. Vestibulum accumsan rutrum risus vitae egestas. Duis faucibus ullamcorper ligula non dignissim.

                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ullamcorper nulla a urna posuere rhoncus. Fusce aliquet, mauris sit amet malesuada bibendum, lacus turpis pulvinar risus, ut auctor leo risus eu mauris. Sed egestas tellus nec ipsum aliquet posuere. Mauris id sapien a ante maximus tincidunt eu ac velit. Praesent libero ipsum, ullamcorper id elementum sit amet, porttitor eget tortor. Vivamus auctor neque quam, nec laoreet mauris sollicitudin ac. Etiam sit amet augue mi. Phasellus mattis mauris finibus vehicula cursus. Integer non felis lectus.

                    Donec posuere, eros et mattis congue, nulla dolor condimentum metus, dignissim venenatis eros risus non nulla. Suspendisse fermentum vel dui vel pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vel mattis odio. Mauris et risus ut arcu posuere congue. Aliquam vel efficitur ligula. Nunc porta placerat diam, nec malesuada orci tincidunt nec. Sed accumsan orci eget volutpat lacinia. Mauris sit amet elementum odio, eu vestibulum est. Nunc vulputate tristique placerat. Etiam faucibus iaculis tellus, eu iaculis magna mollis sed. Ut vitae auctor ligula, hendrerit feugiat nunc. Ut maximus ultricies ex ac viverra.

                </div>
                <div class="col-md-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque nisi ac ligula feugiat suscipit. In viverra ex sapien, vel scelerisque arcu sodales ac. Morbi ullamcorper vulputate nisi, ut finibus nulla. Vestibulum quis eros magna. Donec non orci a nisl bibendum tincidunt. Donec eget augue nunc. Pellentesque eu purus vitae justo accumsan eleifend. Aliquam viverra maximus varius. Donec ultricies odio mi, in cursus urna ullamcorper vel. Ut et elementum eros. In pulvinar nunc sit amet eros venenatis ornare. Mauris non arcu lacinia, dapibus tortor sit amet, viverra tortor. Nullam vestibulum libero tristique ligula ornare fringilla. Curabitur in quam quis lectus blandit finibus eu viverra purus. Vestibulum accumsan rutrum risus vitae egestas. Duis faucibus ullamcorper ligula non dignissim.

                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ullamcorper nulla a urna posuere rhoncus. Fusce aliquet, mauris sit amet malesuada bibendum, lacus turpis pulvinar risus, ut auctor leo risus eu mauris. Sed egestas tellus nec ipsum aliquet posuere. Mauris id sapien a ante maximus tincidunt eu ac velit. Praesent libero ipsum, ullamcorper id elementum sit amet, porttitor eget tortor. Vivamus auctor neque quam, nec laoreet mauris sollicitudin ac. Etiam sit amet augue mi. Phasellus mattis mauris finibus vehicula cursus. Integer non felis lectus.

                    Donec posuere, eros et mattis congue, nulla dolor condimentum metus, dignissim venenatis eros risus non nulla. Suspendisse fermentum vel dui vel pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vel mattis odio. Mauris et risus ut arcu posuere congue. Aliquam vel efficitur ligula. Nunc porta placerat diam, nec malesuada orci tincidunt nec. Sed accumsan orci eget volutpat lacinia. Mauris sit amet elementum odio, eu vestibulum est. Nunc vulputate tristique placerat. Etiam faucibus iaculis tellus, eu iaculis magna mollis sed. Ut vitae auctor ligula, hendrerit feugiat nunc. Ut maximus ultricies ex ac viverra.


                </div>
                <div class="col-md-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque nisi ac ligula feugiat suscipit. In viverra ex sapien, vel scelerisque arcu sodales ac. Morbi ullamcorper vulputate nisi, ut finibus nulla. Vestibulum quis eros magna. Donec non orci a nisl bibendum tincidunt. Donec eget augue nunc. Pellentesque eu purus vitae justo accumsan eleifend. Aliquam viverra maximus varius. Donec ultricies odio mi, in cursus urna ullamcorper vel. Ut et elementum eros. In pulvinar nunc sit amet eros venenatis ornare. Mauris non arcu lacinia, dapibus tortor sit amet, viverra tortor. Nullam vestibulum libero tristique ligula ornare fringilla. Curabitur in quam quis lectus blandit finibus eu viverra purus. Vestibulum accumsan rutrum risus vitae egestas. Duis faucibus ullamcorper ligula non dignissim.

                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ullamcorper nulla a urna posuere rhoncus. Fusce aliquet, mauris sit amet malesuada bibendum, lacus turpis pulvinar risus, ut auctor leo risus eu mauris. Sed egestas tellus nec ipsum aliquet posuere. Mauris id sapien a ante maximus tincidunt eu ac velit. Praesent libero ipsum, ullamcorper id elementum sit amet, porttitor eget tortor. Vivamus auctor neque quam, nec laoreet mauris sollicitudin ac. Etiam sit amet augue mi. Phasellus mattis mauris finibus vehicula cursus. Integer non felis lectus.

                    Donec posuere, eros et mattis congue, nulla dolor condimentum metus, dignissim venenatis eros risus non nulla. Suspendisse fermentum vel dui vel pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam vel mattis odio. Mauris et risus ut arcu posuere congue. Aliquam vel efficitur ligula. Nunc porta placerat diam, nec malesuada orci tincidunt nec. Sed accumsan orci eget volutpat lacinia. Mauris sit amet elementum odio, eu vestibulum est. Nunc vulputate tristique placerat. Etiam faucibus iaculis tellus, eu iaculis magna mollis sed. Ut vitae auctor ligula, hendrerit feugiat nunc. Ut maximus ultricies ex ac viverra.
                </div>
            </div>
        </div><!--/center-->
        <br/>

    </div><!--/container-fluid-->

{% endblock %}



